{% extends 'layout.html' %}
{% block conteudo %}
<center><h2>Modo Casual</h2></center>
<p align="justify">Casual é um modo de jogo que usa uma configuração que define o máximo do player padrão para 20.O modo
    de jogo casual tem 10 jogadores em cada equipe, seja em CT Side ou Terrorist Side. Assim como o jogo
    competitivo, casual também é uma combinação de resultados. Ele coloca alguma ênfase em jogadores de igual grupo de
    habilidades, os jogadores então se juntam a um servidor que combina com os critérios, no entanto jogadores de grupos
    de habilidades inferiores ou superiores também podem ser convidados para o servidor e serem capazes de jogar.
</p>
<p align="justify">
    Este Modo é utilizado para iniciantes e para treinar.
</p>
<center>
    <img src="/static/scoreboard.png" width="1000" height="500">
    <img src="/static/options.png">
    <img src="/static/votekick.jpg" width="270" height="200">
</center>
<center>
    <img src="/static/timeout.png">
</center>
{% endblock %}

