{% extends 'layout.html' %}
{% block conteudo %}
<center><h1>Competitivo</h1></center>

<p align="justify">Ao contrário do modo casual, o modo competitivo sempre coloca duas equipes de 5 em uma partida de 30
    rodadas. O tempo de espera é de 1 minuto e 55 segundos e o cronômetro da bomba é de 40 segundos. Não é possível
    trocar de lado durante o jogo, exceto no intervalo. Após as primeiras 15 rodadas, o jogo chega ao intervalo e as
    duas equipes trocam de lado. A primeira equipe a marcar 16 pontos ganha o jogo. Se ambas as equipes marcarem um
    total de 15 pontos até o final da 30ª rodada, a partida terminará empatada. Os jogos também podem terminar
    prematuramente se uma equipe se render à outra. Uma votação para se render deve ser unanimemente aceita, e a votação
    é bloqueada até que um membro da equipe abandone a partida.</p>
<center>
    <img src="/static/rushb.gif">
    <img src="/static/windoh.gif">
    <img src="/static/bruh.gif">

</center>
<center><h1>Sistema de Ranking</h1></center>
<p align="justify">
    O CounterStrike: Global Offensive tamém tem um sistema de ranking como podemos ver na imagem seguinte. Cada pessoa
    que começa a jogar csgo começa lvl 1 e para ser possível jogar o modo competitivo é preciso chegar a lvl 2. Para
    ganhar rank é preciso fazer 10 competitivos.
</p>
<center>
    <img src="/static/unrank.png" width="430" height="200">
    <img src="/static/rank.jpg" width="430" height="200">
</center>

{% endblock %}

