<style>
body {
  background-image: url("/static/registro.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-right: 0px;
  background-size:121%;
  background-attachment:fixed;
}

</style>

<center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <font color="#dce3ef">
        <h1>A tua conta foi criada com Sucesso!!</h1>
        <h1>Após o teu registro iras encontrar algo surpreendente no login!!!</h1>

</center>
