{% extends 'layout.html' %}
{% block conteudo %}
<center>
    <h1>Esports</h1>
</center>
<p align="justify">A cena profissional da Ofensiva Global consiste em torneios organizados por organizações de terceiros e torneios
organizados ou co-patrocinados pela Valve , referidos como Majors . Majors têm premiações maiores; originalmente
estabelecido em $ 250.000, as premiações para majores aumentaram, com o MLG Columbus 2016 tendo o primeiro grupo
de $ 1.000.000.
<p align="justify">Em 2014, ocorreu o primeiro grande escândalo de correção de resultados na comunidade Global
    Offensive , onde a equipe iBuyPower perdeu propositalmente uma partida contra o NetCodeGuides.com . A equipe foi
    posteriormente banida pela Valve, embora a ESL tenha liberado a equipe de seus torneios em 2017. Eles ainda não
    podem jogar em Majors.
</p>

<br>
<center>
<img src="/static/visao.jpg" width="1300">
</center>

<center>
<img src="/static/ibuypower.jpg">
<img src="/static/idk.jpg" height="400">
<img src="/static/sticker.png">
</center>

{% endblock %}
