<html>
<head>
    <style>
body {
  background-image: url("/static/tela.png");
  background-repeat: no-repeat;
  background-position: center top;
  margin-right: 0px;
  background-size:121%;
  background-attachment:fixed;
}



    </style>
</head>
</html>
{% extends 'layout.html' %}
{% block conteudo %}
<center>
    <font color="#dce3ef">
        <h1>CounterStrike Global Offensive</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </font>
</center>
{% endblock %}
