<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <link rel="shortcut icon" href="/static/favicon.png">
    <meta charset="UTF-8">
    <title>CounterStrike: Global Offensive</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<center>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="sobreojg">Acerca do Jogo</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Modos de Jogo</a>
            <div class="dropdown-content">
                <a href="casual">Casual</a>
                <a href="competitivo">Competitivo</a>
                <a href="wingman">Wingman</a>
                <a href="perifericos">Periféricos</a>
        <li><a href="esports">EsportS</a>
        <li><a href="skins">Skins $</a>
        <li><a href="galo">Jogo do Galo</a>
        <li><a href="login">Login</a>
        <li><a href="registro">Registro</a>
        </li>
    </ul>
</center>
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block conteudo %}
{% endblock %}
<style>

    .footer {
        width:100%;
        background-color: #4f555e;
    }

    .footer-info {
        display:flex;
    }

    .footer-content {
        padding: 0px 10px 0px 0px;
    }

    .imgd2{
        width:260px;
        height:260px;
    }

    .footer-content-2 h2 {
        text-align:left;
    }

    .footer-content {
        width:1000px;
}



</style>
<br>
<footer class="footer">
    <div class="footer-info">
        <div class="footer-content">
            <div class="footer-content-2">
                <h2>Counter Strike Global Offensive</h2>
                <h4>Nome: Rui Azevedo, Dust 2</h4>
                <h4>Morada: Rua do BombSite A</h4>
                <h4>Telefone: 7355608</h4>
                <h4>Código Postal: T-Side 11237-73556</h4>
            </div>
        </div>
        <div class="footer-img">
            <div class="footer-img-2">
                <img class="imgd2" src="/static/dust2.jpg">
            </div>
        </div>
    </div>
</footer>

<div style="z-index: 2;">
    <center>
        <h2>&copy 2019 Rui Azevedo</h2>
    </center>
</div>

