<style>
body {
  background-image: url("/static/registro.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-right: 0px;
  background-size:121%;
  background-attachment:fixed;
}


</style>

<center>
    <br>
    <br>
    <br>
    <br>
    <font color="#dce3ef">
        <h1>Estás Logado.</h1>


        <iframe width="700" height="400" src="https://www.youtube.com/embed/jhy_s4440Ho" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <br>
        <br>
        <h2>Faça já o seu Download!</h2>
        <a href="http://www.mediafire.com/file/ytqjwh54v5s9i85/cs_1.6_winrar.zip/file"><img src="/static/cs166.jpg"
                                                                                            width="500"
                                                                                            height="260"></a>
</center>
