{% extends 'layout.html' %}
{% block titulo %}
<title>Iniciar Sessão</title>
{% endblock %}
{% block conteudo %}
<style>
body {
  background-image: url("/static/awper.gif");
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 10px;
  background-size:119%;
  background-attachment:fixed;
}

</style>
<center>
    <h1>Login</h1>
    <form method="post">
        <fieldset>
            <h4>Utilizador</h4>
            <input type="text" name="utilizador" required>
            <p><br></p>
            <h4>Palavra-Passe</h4>
            <input type="password" name="passe" required>
            <p><br></p>
            <a href="logar"><input name="Button1" onclick="logar.html" style="width: 200px; height: 25px" type="button" value="Inicia Sessão!"/></a>
        </fieldset>
    </form>
    {% if erro %}<h4>{{ erro }}</h4>{% endif %}
</center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
