{% extends 'layout.html' %}
{% block conteudo %}
<style>
    body {
  background-image: url("/static/fck.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-right: 0px;
  background-size:121%;
  background-attachment:fixed;
}


</style>
<center><h1>Requesitos Minimos</h1></center>
<h3>Processador: Pentium Dual Core E2140 1.60GHz ou Athlon 64 X2 Dual Core 3600+</h3>
<h3>Placa de vídeo: GeForce GT 520, Radeon HD 6480G ou equivalente.</h3>
<h3>Memória RAM: 2 GB</h3>
<h3>Sistema Operacional: Windows XP 32</h3>
<h3>DirectX: V. 9</h3>
<center><img src="/static/tsu.gif" height="250"></center>

<center><h1>Requesitos Recomendados</h1></center>
<h3>Processador: Pentium Dual Core E6600 3.06GHz ou Phenom 8750 Triple-Core++</h3>
<h3>Placa de vídeo: GeForce GT 545 DDR3, Radeon HD 5670 512MB ou equivalente.</h3>
<h3>Memória RAM: 4 GB</h3>
<h3>Sistema Operacional: Windows 7 64</h3>
<h3>DirectX: V. 9</h3>
<h3>Espaço livre em disco: 7.6 GB</h3>
<center><img src="/static/run.gif" height="250"></center>
{% endblock %}
