{% extends 'layout.html' %}
{% block conteudo %}
<center><h1>Skins</h1></center>
<p align="justify"> O jogo CounterStrike Global Offensive também é um jogo conhecido devido às skins que tem as quais
    podem ultrapassar milhões de euros. Cada arma tem uma skin diferente mas pode conter um tema igual.
    Para ganhar ou adquirir skins deve-se:</p>
<p align="justify">1. Ganhar em servidores como casual e competitivo após upar de level;</p>
<p align="justify"> 2. Abrindo elas com as caixas e as chaves pois cada caixa contém itens de avaliação azul, roxa,
    rosa, vermelha e a amarela;</p>
<p align="justify"> 3. Realizando o Trade-up onde se troca 10 skins com o mesmo valor seja azul, vermelho etc..</p>
<p align="justify"> 4. Negociando com outros jogadores oferecendo skins ou preços;</p>
<p align="justify"> 5. Através dos sites de apostas</p>

<center>
    <img src="/static/drop.jpg">
</center>


<center>
    <img src="/static/skins1.jpg">
    <img src="/static/bravo.png" width="300" height="188">
    <img src="/static/key.png" width="300" height="188">

</center>

<center>
    <img src="/static/trade2.jpg" width="700" height="400">
    <img src="/static/tradeup.png" width="800" height="400">
</center>

<center>
    <img src="/static/tradea.jpg" width="600" height="500">
</center>

<center>
    <img src="/static/site.jpg">
</center>
{% endblock %}
