{% extends 'layout.html' %}
{% block conteudo %}
<center><h1>Acerda do Jogo</h1></center>
<p align="justify">Counter-Strike: Global Offensive (CS:GO) é um jogo online desenvolvido pela Valve Corporation e pela
    Hidden Path
    Entertainment, sendo uma sequência de Counter-Strike: Source. É o quarto título principal da franquia.</p>
<center>
    <img src="/static/steam.jpg" width="150" height="100">
    <img src="/static/cs1.6 logo.png" width="95" height="70">
    <img src="/static/css logo.png" width="95" height="70">
    <img src="/static/csgo logo.png" width="95" height="70">
    <img src="/static/valve.jpg" width="150" height="100">
</center>
<center><h1>Utensílios</h1></center>
<p align="justify">O jogo é baseado em rodadas nas quais equipes de contra-terroristas e terroristas combatem-se até a
    eliminação
    completa de um dos times, e tem como objetivo principal plantar e desarmar bombas, ou sequestrar e salvar reféns.
</p>
<center>
    <img src="/static/bomb.jpg" width="450" height="250">
    <img src="/static/tside.jpg" width="100">
    <img src="/static/ctside.jpg" width="100" height="93">
    <img src="/static/defuse.jpg" width="450" height="250">
</center>
<center>
    <img src="/static/refem.png" width="250" height="350">
</center>
<center><h1>Como o CS Cresçeu</h1></center>
<p align="justify">
    Counter-Strike foi um dos responsáveis pela massificação dos jogos por rede no início do século, sendo considerado o
    grande responsável pela popularização das LAN houses no mundo. O jogo é considerado o originador do esporte
    eletrônico, onde muitos jogadores levam-no a sério e recebem salários fixos, existindo até clãs profissionais, e que
    são patrocinados por grandes empresas como a Intel e a NVIDIA. Pelo mundo existem ligas profissionais onde o
    Counter-Strike está presente, como o caso da CPL (que encerrou suas atividades em 2008).
</p>
<center>
    <img src="/static/lan.png" width="430" height="250">
    <img src="/static/hltv.png" width="430" height="250">
    <img src="/static/twitch.png" width="430" height="250">
    <img src="/static/tour.jpg" width="430" height="250">
</center>
<center><h1>Vendas</h1></center>
<p align="justify">
    De acordo com o portal para o submundo, o Counter-Strike: Global Offensive foi o jogo mais vendido pelo Steam no
    Brasil, no ano de 2015. Segundo a matéria, brasileiros compraram mais de 205 mil cópias do jogo da Valve entre abril
    e dezembro de 2015.
</p>

<br>
<br>
<br>
{% endblock %}

