{% extends 'layout.html' %}
{% block conteudo %}
<center><h1>Wingman</h1></center>
<p align="justify">Wingman é um modo de jogo de evento adicionado ao Counter-Strike: Global Offensive na Operação Hydra
    , como parte da atualização de 23 de maio de 2017 , como um dos três Eventos Hydra, ao lado de Jogos de Guerra e
    Especialista em Armas . Depois de 13 de novembro de 2017 , o modo de jogo se tornou permanente, junto com o novo
    algoritmo de correspondência de partidas chamado "Trust Factor".
    Nesse modo, os mapas são menores e mais compactos, e há apenas dois jogadores em uma equipe. Outras regras são
    semelhantes a competitivas. Além disso, o modo de jogo usa as mesmas penalidades, como o modo de jogo competitivo.
</p>
<center><img src="/static/sup.gif" height="250"></center>
<br>
<br>
<br>
    {% endblock %}
